.bar.bar-stable {
    /*box-shadow: none;*/
   background: $header-bgimg;
   background-size:100% 100%;
  .title {color:$header-font-color; font-size: 16px; text-transform: capitalize;}
  .logo { 
    background-image:$header-logo; background-size:100%; background-repeat:no-repeat;  
    height:100%; width:175px; margin-left:10px; background-position:0 1px;
   }
   .buttons-right .button{ padding:0px;margin:0px;}
   .buttons-right .button.button-icon::before { font-size: 21px !important;}

   .badge-assertive{ position:absolute; top:2px; right:0px; font-size:11px; line-height:15px; padding:3px 6px; }	
}

.bar-stable, .bar-stable.activated {background-color: $header-bgimg !important;}

.bar.bar-subheader{ 
	background: $subheader-bgcolor;	background-size:100% 100%;

	input::-webkit-input-placeholder {  color:$placeholder-color;}

	/* Firefox < 19 */
	input:-moz-placeholder {color: $placeholder-color;}

	/* Firefox > 19 */
	input::-moz-placeholder {color:$placeholder-color;}

	/* Internet Explorer 10 */
	input:-ms-input-placeholder {color:$placeholder-color;}

	
	.list .item{ padding:0px 0 0 0; }
	.searchWrapper{ 
		background:$search_box_bg; margin:5px;

		input{ width:100%; padding:0; background:$search_box_bg; color:$search_font_color;}
		.icon{ color:$search_font_color; font-size:$search_font_size;}
		.ion-ios-close{ color:$search_icon_color; padding:5px 10px; margin-right:-5px; cursor:pointer;}
		.ion-location{ padding:0 7px 0 2px;}
		.ion-search{ font-size:15px;}
	}

	
}

.scroll-content{
        
	.image-loader-container {margin-top:5px;max-width:75px;max-height:75px;width: 100%;height: 100%;top:7px;left:12px;position: absolute;background-color: #e5e5e5;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-content: stretch;align-items: center;}

	/*background-image:$content-bgimg;*/
	
	 background-size:100% 100%;
	.list .item{ border-bottom:$list-item-separator 1px solid; color:$font-color; text-transform: capitalize; }
	input,textarea{border:$form-field-border 1px solid; color:$form-field-color; background:transparent}
	
	/*--------------------*/
	.toggle .track { background-color: $checkbox-off-bgcolor;  border: 2px solid $checkbox-off-btncolor;}
	.toggle .handle { background-color:$checkbox-off-btncolor;  }

	.toggle.toggle-assertive input:checked + .track { background-color:$checkbox-on-bgcolor; border-color: $checkbox-on-btncolor;}
	.toggle input:checked + .track .handle { background-color:$checkbox-on-btncolor; transform: translate3d(20px, 0px, 0px); }
	/*--------------------*/
	 .button{ line-height:47px;}
	 .registerButton{background-color:$register-button; color:$font-color;}
	 .submitButton{background-color:$submit-button; color:$font-color;}
	 .button.facebookButton{ background-color:$facebook-button;color:$font-color;}
	 .button.twitterButton{ background-color:$twitter-button;color:$font-color;}
	 .button.button-full { margin-top:5px; margin-bottom:0px;}
	
	/*--------------------*/
	.bar.bar-footer { background-color:#eee;height:40px;   background-size: 100% 0px;}
	.bar.bar-footer .button.button-clear{color:#000; font-size:12px; font-family:arial;}
	.bar.bar-footer .button.pull-right {top:0px;}
	.bar.bar-footer .button.apply {color:#f39c12;}
	.bar.bar-footer .button.reset {color:#000; margin-right:90px;}
	/*--------------------*/
	.subContent{ bottom:75px;}

	.formStyle{
		
		.error{ color:#ff0000; font-size:12px;}
		.row{ padding:0px; margin:0px;}
		.row .col{ padding:0px; margin:0px;}
		.row .col:first-child{ margin-right:7px;}
		
		.list .item{ border:none; padding:0px;}
		.list .item input,textarea{ border:#ccc 1px solid; padding:5px; }

		.item .item-select{ min-height:30px; max-width:100%;  border:#eee 1px solid; margin:0 0 2px 0;}
		.item select{ border:#ccc 1px solid;min-width:100%;padding:0 0 0 5px; text-align:left;max-height:40px; direction:ltr; margin-top:2px;  }
		.item-select:after{ color:#000;  }

	}
	.datepick{ border:#ccc 1px solid; padding:5px; margin-bottom:10px;}
	/*--------------------*/
	input::-webkit-input-placeholder {  color:$placeholder-content;}
	
	/* Firefox < 19 */
	input:-moz-placeholder {color: $placeholder-content;}

	/* Firefox > 19 */
	input::-moz-placeholder {color:$placeholder-content;}

	/* Internet Explorer 10 */
	input:-ms-input-placeholder {color:$placeholder-content;}

	/*--------------------*/
	textarea::-webkit-textarea-placeholder {  color:$placeholder-content;}

	/* Firefox < 19 */
	textarea:-moz-placeholder {color: $placeholder-content;}

	/* Firefox > 19 */
	textarea::-moz-placeholder {color:$placeholder-content;}

	/* Internet Explorer 10 */
	textarea:-ms-textarea-placeholder {color:$placeholder-content;}
}

 .searchBox{
	 width:97%; padding:0px; margin:0px;
	 .col{ padding:0px; margin:0px; }
	.searchWrapper{ 
		background:$search_box_bg; margin:5px;

		input{ width:100%; padding:0; background:$search_box_bg; color:$search_font_color;}
		.icon{ color:$search_font_color; font-size:$search_font_size;}
		.ion-ios-close{ color:$search_icon_color; padding:5px 10px; margin-right:-5px; cursor:pointer;}
		.ion-location{ padding:0 7px 0 2px;}
		.ion-search{ font-size:15px;}
	}

	input::-webkit-input-placeholder {  color:$placeholder-color;}

	/* Firefox < 19 */
	input:-moz-placeholder {color: $placeholder-color;}

	/* Firefox > 19 */
	input::-moz-placeholder {color:$placeholder-color;}

	/* Internet Explorer 10 */
	input:-ms-input-placeholder {color:$placeholder-color;}
 }

.ionic_datepicker_popup {
	.selected_date_full,.button_set,.button_close,.selected_date{ background-color:$balanced !important;}

	.today{ background-color:none !important; border:$balanced 1px solid !important;}
	.button-clear{ color:$balanced !important;}
	.year_select,.month_select{  border-bottom:$balanced 1px solid !important;}
	.year_select:after,.month_select:after{  color:$balanced !important;}
	
}
.balanced-bg:hover,
.button-balanced:hover,
.bar .button-balanced:hover,
.header-balanced:hover,
.button-bar-balanced:hover,
.bar-balanced:hover,
.balanced-border:hover,
{
   background-color: $bg-hover !important;
  color: #fff; }
