.menu {
  
  .bar-header {text-align:center; background:$nav_head_bg; 
	background:$nav_head_bgimg; background-size:100%; }
  .menu-bottom{font-size:13px; color:#fff;}
  .avatar { height:90px !important; width:90px !important; left:80px !important; top:16px; }

  .has-expanded-header{ background-color:$nav_content_bg;   background-image:$nav_content_bgimg; background-size:100% 100%;}
  .has-expanded-header .list{ padding:0px; margin:0px;}
  .has-expanded-header .list .item{ border-bottom:$nav_seprator 1px solid; color:$nav_color;  }
  .has-expanded-header .list .item:first-child{ border-top:$nav_seprator 1px solid; margin-top:1px;}

  .has-expanded-header .list .item i{ font-size:20px; }
  .has-expanded-header .list .item i span{ font-size:15px; margin-left:7px; }
  .item-content{ padding: 10px 49px 10px 16px;}
}
 

 .menu-open .ion-navicon:before {  content: "\f2ca";} /*Menu Arrow*/
 .menu-open .ion-more:before {  content: "\f30f";} /*Menu Arrow*/
