
$app-barbg		: #1FA055;

$header-logo		: url('../img/logo.png');
$header-bgimg		: #1FA055;
$subheader-bgcolor	: #1FA055;
$header-font-color	: #fff;
$bg-hover			: #1FA055;
$bg-img-like		: #E67E22;

$search_box_bg		: #f39c12;
$search_icon_color	: #fff;
$search_font_color	: #fff;
$search_font_size	: 18px;

$nav_head_bg		: #f39c12;
$nav_head_bgimg		: $bg-img-like;
$nav_content_bg		: #fff;
$nav_content_bgimg	: '';
$nav_seprator		: #eee;
$nav_color		: #000;

$cat_bg			: #fff;
$cat_font_color		: #000;
$cat_font_size		: 15px;
$cat_plus_minus		: #000;
$cat_seprator		: #eee;

$font-color		: #000;
$form-field-color	: #000;
$form-field-border	: #000;
$placeholder-color	: #fff;
$placeholder-content	: #aaa;
$link-color		: #000;
$content-bgimg		: '';

$checkbox-off-bgcolor	: #ff0000;
$checkbox-off-btncolor	: #D33B3B;

$checkbox-on-bgcolor	: #7DD80D;
$checkbox-on-btncolor	: #62A016;

$register-button	: #886AEA;
$submit-button		: #7FDB00;
$facebook-button	: #3F51B5;
$twitter-button		: #1DA1F2;

$list-item-separator	: #eee;

$cart-fab-button-bg	: $app-barbg;
