<ion-view view-title="Dashboard">
<ion-nav-title><div class="logo"></div></ion-nav-title>
<ion-nav-bar class="bar-stable">
	<ion-nav-buttons side="left"><button  ng-click="toggleLeftSideMenu();" class="button button-icon button-clear ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-android-search" ng-click="searchShow();" ></button>
	</ion-nav-buttons>
</ion-nav-bar>
  <ion-content  lazy-scroll>
	 <div class="sliderBox">
		<div class="slider-page-bg"></div>
		<ion-slide-box auto-play="true" does-continue="true" slide-interval="2000" ng-if="bannerData.length" >
		  <ion-slide ng-repeat="img in bannerData"><img ng-src="{{img.content}}" class="sliderImg"> </ion-slide>
		  
		</ion-slide-box>
	</div>

	<ion-scroll direction="x" class="catScroll">
			<a href="#/app/products/{{catObj.category_id}}" class="button" ng-repeat="catObj in accordionArray">
				<img  ng-src="{{catObj.large_icon}}" width="55" />
				<p>{{catObj.title|lowercase}}</p>
			</a>
	</ion-scroll> 


	<div class="row">
		<div class="col col-50"><a ng-href="#/app/products/1"><img  ng-src="img/banners/ads1.jpg" width="100%" /></a></div>
		<div class="col col-50"><a ng-href="#/app/products/5"><img  ng-src="img/banners/ads2.jpg" width="100%" /></a></div>
	</div>
	
	<div class="row">
	<div class="col"><a ng-href="#/app/products/3"><img  ng-src="img/banners/ads3.jpg" width="100%" /></a></div>
	</div>
	
  </ion-content>
</ion-view>
