<ion-view view-title="Choisir une adresse de livraison">
<ion-nav-bar class="bar-stable">
	<ion-nav-buttons side="left">
	<button ng-click="$ionicGoBack()" class="button back-button button-icon button-clear header-item ion-android-arrow-back"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right"></ion-nav-buttons>
</ion-nav-bar>
<ion-content class="selectLocation">
			
			<div class="userLocation">
				<i class="ion-location"></i>
				<div class="locTitle">Je suis ici</div>
				<div>{{userAddress}}</div>
			</div>
			<div class="useCLocationBtn" ng-click="findLocation();">Utiliser ma localisation actuelle</div>
			<div class="selectLocationBtn" location-suggestion getlocation="setLocation(data);" location>Choisir une adresse manuellement</div>




</ion-content>
</ion-view>
